---
import { WORK } from '../lib/constants';
import BaseLayout from '../layouts/BaseLayout.astro';
import TopLayout from '../layouts/TopLayout.astro';
import BottomLayout from '../layouts/BottomLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import DetailedProjectCard from '../components/DetailedProjectCard.astro';

import { contentfulClient } from '../lib/contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import type { EntryFieldTypes } from 'contentful';
import { PROJECTS_LIST } from '../lib/constants';

interface Project {
  id: number;
  title: string;
  description: string;
  skills: string[];
  link: string;
  imgList: string[];
  imgAlt: string;
}

const entries: Project[] = PROJECTS_LIST;
console.log(entries);
---

<BaseLayout title="Portfolio" description="Projects and some clones that I did">
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="slide">
    <TopLayout>
      <h2 class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0">
        My Projects
      </h2>
    </TopLayout>
    <BottomLayout>
      <div class="flex w-full flex-wrap justify-center gap-2">
        {entries.map((project: Project) => (
          <ProjectCard
            key={project.id} // Assuming sys.id exists and is unique
            href={project.link}
            heading={project.title}
            subheading={project.description}
            imagePath={project.imgList}
            skills={project.skills}
            altText={project.imgAlt || 'Project Image'} // Assuming imgAlt property exists
            class="w-full sm:w-2/5"
          />
        ))}
      </div>
    </BottomLayout>
  </main>
</BaseLayout>
