---
import { WORK } from '../lib/constants'
import BaseLayout from '../layouts/BaseLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'

import { EXPERIENCE } from '../lib/constants'
---

<BaseLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="fade">
    <TopLayout>
      <h2
        class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
      >
        {WORK.TITLE}
      </h2>
    </TopLayout>
    <BottomLayout>
      <ul>
        {
          EXPERIENCE.map((entry) => (
            <li class="animate mt-4 border-b border-black/10 py-8 first-of-type:mt-0 first-of-type:pt-0 last-of-type:border-none dark:border-white/25">
              <div class="mb-4 text-sm uppercase">
                {entry.start} - {entry.end}
              </div>
              <a
                href={entry.link ?? ''}
                class={`font-semibold ${entry?.link ? 'text-primary' : 'text-foreground'}`}
              >
                {entry.company}
                {/* Icon that open a new window link */}
                {entry.link && (
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="inline w-4 h-4 ml-1"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <line x1="21" y1="10" x2="3" y2="10"></line>
                    <polyline points="15 3 21 10 15 17"></polyline>
                  </svg>
                )}
                  
              </a>
              <div class="text-sm font-semibold">{entry.position}</div>
              <article class="prose dark:prose-invert">
                {entry.tasks.map((i) => (
                  <>{i}</>
                ))}
              </article>
            </li>
          ))
        }
      </ul>
    </BottomLayout>
  </main>
</BaseLayout>
